.scroll-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 2.5rem; /* Adjust height as needed */
}

.scroll-container {
  display: flex;
  animation: scroll 15s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% * 2); /* Ensure the width is sufficient to accommodate the scroll */
}

.scroll-item {
  display: inline-block;
  margin-right: 2rem; /* Adjust spacing as needed */
  font-size: 1.5rem;
  /* background: linear-gradient(to right, #fff, #000, #fff);  */
  /* Gradient from white to black to white */
  /* -webkit-background-clip: text; Clip background to text */
  /* -webkit-text-fill-color: transparent; Make the text color transparent to show the gradient */
  color: black;
  text-decoration: none;
}

.scroll-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(39,42,42,1) 36%); */
  pointer-events: none; /* Ensure the gradient mask does not interfere with clicks */
  z-index: -1;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
